<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="mainCtrl">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
      <ion-content>
        <span>{{status_log}}</span>
        <br>
        <span>{{server_ip}}</span>
        <input type="text" name="gserver_ip" ng-model="server_ip">
        <button type="button" name="set_ip" class="button button-positive"
          ng-click="set_ip(server_ip)">set_ip</button>
        <br><br>
        <button type="button" name="socket_create" class="button button-positive"
          ng-click="socket_create()">socket_create</button>
        <br><br>
        <button type="button" name="connect" class="button button-positive"
          ng-click="connect()">connect</button>
        <br><br>
        <button type="button" name="disconnect" class="button button-positive"
          ng-click="disconnect()">disconnect</button>
        <br><br>
        <button type="button" name="close" class="button button-positive"
          ng-click="close()">close</button>
        <br><br>
        <input type="text" name="data_sent" ng-model="data_sent">
        <button type="button" name="send" class="button button-positive"
          ng-click="send(data_sent)">send</button>
      </ion-content>
    </ion-pane>
  </body>
</html>
